<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <div th:fragment="links">
        <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="/webjars/bootstrap/3.3.7/css/bootstrap-theme.css">
        <link rel="stylesheet" th:href="@{/css/theme.css}">
        <title th:if="${page_title} != null" th:text="${page_title}"></title>
        <title th:if="${page_title} == null">Unknown page title</title>
    </div>
</head>
<body>
<div th:fragment="navbar-fragment">
    <nav th:classappend="${#authorization.expression('hasRole(''ROLE_ADMIN'')')} ? 'red-nav' : ''"
         class="navbar navbar-inverse navbar-fixed-top">
        <div class="container ">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                        aria-expanded="false" aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li th:classappend="${page_title}=='Home Page' ? 'active' : '' ">
                        <a th:href="@{/}">Home</a>
                    </li>
                    <li th:classappend="${page_title}=='About Page' ? 'active' : '' ">
                        <a th:href="@{/about}">About</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()"
                        th:classappend="${page_title}=='Login Page' ? 'active' : '' ">
                        <a th:href="@{/login}">Login</a>
                    </li>
                    <li sec:authorize="!isAuthenticated()"
                        th:classappend="${page_title}=='Register Page' ? 'active' : '' ">
                        <a th:href="@{/register}">Register</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"
                        th:classappend="${page_title}=='User Page' ? 'active' : '' ">
                        <a th:href="@{/userInfo}">My Page</a>
                    </li>
                    <li sec:authorize="isAuthenticated()"
                        th:classappend="${page_title}=='Add Task Page' ? 'active' : '' ">
                        <a th:href="@{/addTask}">Add Task</a>
                    </li>
                    <li sec:authorize="hasRole('ROLE_ADMIN')"
                        th:classappend="${page_title}=='User List Page' ? 'active' : '' ">
                        <a th:href="@{/userList}">User List</a>
                    </li>
                    <li sec:authorize="isAuthenticated()">
                        <a th:href="@{/logout}">Logout</a>
                    </li>
                    <!--<li class="dropdown">-->
                    <!--<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"-->
                    <!--aria-expanded="false">Dropdown <span class="caret"></span></a>-->
                    <!--<ul class="dropdown-menu">-->
                    <!--<li><a href="#">Action</a></li>-->
                    <!--<li><a href="#">Another action</a></li>-->
                    <!--<li><a href="#">Something else here</a></li>-->
                    <!--<li role="separator" class="divider"></li>-->
                    <!--<li class="dropdown-header">Nav header</li>-->
                    <!--<li><a href="#">Separated link</a></li>-->
                    <!--<li><a href="#">One more separated link</a></li>-->
                    <!--</ul>-->
                    <!--</li>-->
                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </nav>
</div>

<div th:fragment="footer">
    <div sec:authorize="isAuthenticated()" class="bottom-right">
        <p>Jesteś zalogowany!</p>
    </div>
    <!--<div sec:authorize="hasRole('ROLE_ADMIN')">-->
    <div sec:authorize="hasRole('ROLE_ADMIN')">
        <p>Jesteś adminem!</p>
    </div>
    <div sec:authorize="hasRole('ROLE_USER')">
        <p>Jesteś userem!</p>
    </div>
    <script type="text/javascript" src="/webjars/jquery/3.2.1/jquery.js"></script>
    <script type="text/javascript" src="/webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</div>

</body>
</html>