<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <div th:replace="header :: links"></div>
</head>
<body>

<div th:replace="header :: navbar-fragment"></div>

<div class="container theme-showcase" role="main">
    <h2>Welcome!</h2>
    <h3>Funkcjonalność:</h3>
    <ul>
        <li>
            Logowanie użytkownika i minimum jednego administratora (w aplikacji zrealizowane za pomocą specjalnego loginu admin@admin.admin)
        </li>
        <li>
            Po zalogowaniu na pasku nawigacyjnym dodaj guzik dodawania zadań, oraz panelu użytkownika. Na panelu użytkownika wyświetl listę zadań z guzikiem "Oznacz jako wykonane"/"Oznacz do zrobienia"(niewykonane) oraz guzik "Edytuj" którym możemy edytować parametry zadania (wszystko poza czasem dodania).
        </li>
        <li>
            Na pasku nawigacyjnym dodaj guzik edycji i podglądu profilu. Użytkownik może zmodyfikować wszystko poza mailem. Hasło musi potwierdzić (podczas zmiany). Podgląd profilu wyświetla wszystkie dane użytkownika bez hasła.
        </li>
        <li>
            Administrator widzi wszystko jak normalny użytkownik, jednak posiada dodatkowe uprawnienia. Na panelu użytkownika (kiedy zalogowany jest administrator) wyświetl pod listą zadań listę wszystkich zadań. Administrator nie mmoże edytować tej listy ani zadań, ale widzi wszystkie szczegóły dotyczące zadań i przy każdym zadaniu nazwę użytkownika do którego należy to zadanie.
        </li>
        <li>
            Po zalogowaniu administratora niech pasek nawigacyjny zmieni kolor na ciemny czerwony.
        </li>
        <li>
            Administrator ma specjalną zakładkę "Users" na której ma listę wszystkich użytkowników. Użytkowników może usuwać i resetować im hasła - (może podać nowe hasło dla użytkownika).
        </li>
        <li>
            Strona about zawiera informacje o autorze.
        </li>
    </ul>
</div>

<div th:replace="header :: footer"></div>
</body>
</html>