<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>

    <div th:replace="header :: links"></div>
</head>
<body>

<div th:replace="header :: navbar-fragment"></div>

<div class="container theme-showcase" role="main">
    <h2>
        This is login page!
    </h2>
    <div class="row">
        <form th:action="@{/login}" method="post">
            <div class="row">
                <div class="col-md-3">
                    <label for="username">
                        Email
                    </label></div>
                <div class="col-md-5">
                    <input class="form-control" id="username" name="username" type="text" >
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <label for="password">
                        Password
                    </label>
                </div>
                <div class="col-md-5">
                    <input class="form-control" id="password" name="password" type="password"></div>
            </div>
            <div class="row col-md-offset-3 col-md-5">
                <input class="col-md-5 form-control" type="submit" value="Submit">
            </div>
        </form>
    </div>
</div>

<div th:replace="header :: footer"></div>
</body>
</html>