<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <div th:replace="header :: links"></div>

</head>
<body>

<div th:replace="header :: navbar-fragment"></div>

<div class="container theme-showcase" role="main">
    <h2>
        This is user list page!
    </h2>

    <div class="row col-md-12">
        <div class="row bold-text border-solid-thick">
            <div class="col-md-2">
                <p>Email</p>
            </div>
            <div class="col-md-2">
                <p>Name</p>
            </div>
            <div class="col-md-2">
                <p>Surname</p>
            </div>
            <div class="col-md-4">
                <p>Address</p>
            </div>
            <div class="col-md-2">
                <p>Actions</p>
            </div>
        </div>
        <div class="row border-solid" th:each="user :${users_list}">
            <div class="col-md-2">
                <p th:text="${user.getEmail()}"></p>
            </div>
            <div class="col-md-2">
                <p th:text="${user.getName()}"></p>
            </div>
            <div class="col-md-2">
                <p th:text="${user.getSurname()}"></p>
            </div>
            <div class="col-md-3">
                <p th:text="${user.getAddress()}"></p>
            </div>
            <div class="row col-md-3">
                <div class="col-md-8">
                    <a th:href="@{'/resetPassword/'+${user.getId()}}">Reset Password</a>
                </div>
                <div class="col-md-4">
                    <a th:href="@{'/deleteUser/'+${user.getId()}}">Delete</a>
                </div>
            </div>
        </div>
    </div>

    <div class="row w-100 col-md-12">
        <hr>
    </div>

    <div class="row col-md-12">
        <div class="row bold-text border-solid-thick">
            <div class="col-md-2">
                <p>Username</p>
            </div>
            <div class="col-md-10">
                <p>Tasks</p>
            </div>
        </div>
        <div class="row border-solid" th:each="user : ${users_and_tasks}">
            <div class="col-md-2">
                <p th:text="${user.getEmail()}"></p>
            </div>
            <div class="col-md-10">
                <div class="row bold-text border-solid-thick">
                    <div class="col-md-2">Title</div>
                    <div class="col-md-4">Description</div>
                    <div class="col-md-2">Time added</div>
                    <div class="col-md-1">Is Done</div>
                </div>
                <div class="row" th:each="task : ${user.getTasks()}">
                    <div class="col-md-2"><p th:text="${task.getTitle()}"></p></div>
                    <div class="col-md-4"><p th:text="${task.getDescription()}"></p></div>
                    <div class="col-md-2"><p th:text="${task.getAddTime()}"></p></div>
                    <div class="col-md-1"><p th:text="${task.isDone()}"></p></div>
                </div>
            </div>
        </div>
    </div>
</div>

<div th:replace="header :: footer"></div>
</body>
</html>