body {
    padding-top: 70px;
    padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
    position: static;
    display: block;
    margin-bottom: 20px;
}

.theme-showcase > p > .btn {
    margin: 5px 0;
}

.theme-showcase .navbar .container {
    width: auto;
}

.header {
    font-weight: bold;
}

.bottom-right {
    position: fixed;
    bottom: 5px;
    right: 5px;
}

.border-solid-thick {
    border: solid #222222 1px;
    border-bottom: solid #400 2px;
}

.border-solid {
    border: solid #222 0.3px;
}

.w-100 {
    min-width: 100px;
    width: 100px;
}

.red-nav {
    background: linear-gradient(to bottom, #222, #600) !important;
}

.bold-text {
    font-weight: bold;
}
